{"openapi":"3.0.1","info":{"title":"AfterNote API ëªì¸ì","description":"AfterNote API ë¬¸ììëë¤.","version":"1.0.0"},"servers":[{"url":"https://afternote.kro.kr","description":"Production Server"},{"url":"http://localhost:8080","description":"Local Server"}],"security":[{"bearer-key":[]}],"tags":[{"name":"ð auth API","description":"íìê°ì, ë¡ê·¸ì¸ ê´ë ¨ API"}],"paths":{"/auth/sign-up":{"post":{"tags":["ð auth API"],"summary":"íìê°ì API","description":"íìê°ìì í©ëë¤.","operationId":"signUp","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignupRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSignupResponse"}}}}}}},"/auth/reissue":{"post":{"tags":["ð auth API"],"summary":"í í° ì¬ë°ê¸ API","description":"ë¦¬íë ì¬ í í°ì ì´ì©í´ ë¤ì ì¬ë°ê¸ì í©ëë¤.","operationId":"reissue","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReissueRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseReissueResponse"}}}}}}},"/auth/password/change":{"post":{"tags":["ð auth API"],"summary":"ë¹ë°ë²í¸ ë³ê²½ API","description":"íì¬ ë¹ë°ë²í¸ì ì ë¹ë°ë²í¸ë¥¼ ìë ¥í©ëë¤.","operationId":"passwordChange","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PasswordChangeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/auth/logout":{"post":{"tags":["ð auth API"],"summary":"ë¡ê·¸ìì API","description":"ë¦¬íë ì¬ í í°ì ìë ¥í©ëë¤.","operationId":"logout","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogoutRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/auth/login":{"post":{"tags":["ð auth API"],"summary":"ë¡ê·¸ì¸ API","description":"ë¡ê·¸ì¸ì í©ëë¤.","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLoginResponse"}}}}}}},"/auth/email/verify":{"post":{"tags":["ð auth API"],"summary":"ì´ë©ì¼ ì¸ì¦ë²í¸ ê²ì¦ API","description":"ì´ë©ì¼ê³¼ ì¸ì¦ì½ëë¥¼ íµí´ ê²ì¦ë°ìµëë¤.","operationId":"emailVerify","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailVerifyRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/auth/email/send":{"post":{"tags":["ð auth API"],"summary":"ì´ë©ì¼ ì¸ì¦ë²í¸ ì ì¡ API","description":"ì´ë©ì¼ì ìë ¥í´ ì¸ì¦ë²í¸ë¥¼ ë°ìµëë¤.","operationId":"emailSend","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailSendRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}}},"components":{"schemas":{"SignupRequest":{"required":["email","name","password"],"type":"object","properties":{"email":{"type":"string","description":"ì´ë©ì¼ ì£¼ì","example":"user@example.com"},"password":{"pattern":"^(?=.*[A-Za-z])(?=.*\\d)(?=.*[@$!%*#?&])[A-Za-z\\d@$!%*#?&]{8,20}$","type":"string","description":"ë¹ë°ë²í¸","example":"password123!"},"name":{"type":"string","description":"ì´ë¦","example":"í©ê·ì´"},"profileUrl":{"type":"string","description":"íë¡í ì¬ì§","example":"https://s3.~~"}}},"ApiResponseSignupResponse":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/SignupResponse"}}},"SignupResponse":{"type":"object","properties":{"userId":{"type":"integer","description":"ê°ìë ì ì  ID","format":"int64","example":1},"email":{"type":"string","description":"ê°ìë ì´ë©ì¼","example":"user@example.com"}}},"ReissueRequest":{"required":["refreshToken"],"type":"object","properties":{"refreshToken":{"type":"string","description":"ë¦¬íë ì¬ í í°","example":"safasfskldfjasdkgwr34tklgfdldfsdckl..."}}},"ApiResponseReissueResponse":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/ReissueResponse"}}},"ReissueResponse":{"type":"object","properties":{"refreshToken":{"type":"string","description":"ë¦¬íë ì¬ í í°","example":"safasfskldfjasdkgwr34tklgfdldfsdckl..."},"accessToken":{"type":"string","description":"ì¡ì¸ì¤ í í°","example":"safasfskldfjasdkgwr34tklgfdldfsdckl..."}}},"PasswordChangeRequest":{"required":["currentPassword","newPassword"],"type":"object","properties":{"currentPassword":{"type":"string","description":"íì¬ ë¹ë°ë²í¸","example":"password123!"},"newPassword":{"pattern":"^(?=.*[A-Za-z])(?=.*\\d)(?=.*[@$!%*#?&])[A-Za-z\\d@$!%*#?&]{8,20}$","type":"string","description":"ì ë¹ë°ë²í¸","example":"password123!"}}},"ApiResponseObject":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"object"}}},"LogoutRequest":{"required":["refreshToken"],"type":"object","properties":{"refreshToken":{"type":"string","description":"ë¦¬íë ì¬ í í°","example":"safasfskldfjasdkgwr34tklgfdldfsdckl..."}}},"LoginRequest":{"required":["email","password"],"type":"object","properties":{"email":{"type":"string","description":"ì´ë©ì¼ ì£¼ì","example":"user@example.com"},"password":{"type":"string","description":"ë¹ë°ë²í¸","example":"password123!"}}},"ApiResponseLoginResponse":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/LoginResponse"}}},"LoginResponse":{"type":"object","properties":{"refreshToken":{"type":"string","description":"ë¦¬íë ì¬ í í°","example":"safasfskldfjasdkgwr34tklgfdldfsdckl..."},"accessToken":{"type":"string","description":"ì¡ì¸ì¤ í í°","example":"safasfskldfjasdkgwr34tklgfdldfsdckl..."}}},"EmailVerifyRequest":{"required":["certificateCode","email"],"type":"object","properties":{"email":{"type":"string","description":"ì´ë©ì¼ ì£¼ì","example":"user@example.com"},"certificateCode":{"type":"string","description":"ì´ë©ì¼ ì£¼ì","example":"user@example.com"}}},"EmailSendRequest":{"required":["email"],"type":"object","properties":{"email":{"type":"string","description":"ì´ë©ì¼ ì£¼ì","example":"user@example.com"}}}},"securitySchemes":{"bearer-key":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}}}
