name: Ktlint

on:
    pull_request:
        branches: [main, develop]

jobs:
    ktlint:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up JDK
              uses: actions/setup-java@v4
              with:
                  distribution: 'temurin'
                  java-version: 17

            - name: Grant execute permission for gradlew
              run: chmod +x gradlew

            - name: Create local.properties
              run: |
                  echo "sdk.dir=$ANDROID_SDK_ROOT" > local.properties

            - name: Cache Gradle
              uses: gradle/actions/setup-gradle@v3

            - name: Run ktlint
              run: ./gradlew ktlintCheck
